body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f6f0f7;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

h2 {
  text-align: center;

  width: fit-content;
  color: rgb(14, 88, 158);
  padding: 10px 20px;
  margin: 20px auto;

  
}

h5 {
  height: auto;
  color: black;
  margin: 10px auto;
  text-align: justify;
  padding: 10px;
}

p {
  color: #ffffff;
  text-align: justify;
  line-height: 1.6;
}

header {
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-wrap: wrap;
  gap: 40px;
  background: linear-gradient(135deg, #1488cc, #2b32b2);
  color: white;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#Yasmin {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
}

.headeryas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h4 {
  color: #2b32b2;
}

#Certificados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: justify;
  margin: 20px auto;
  padding: 20px;
  background: rgba(54, 93, 223, 0.336);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-wrap: wrap;
  gap: 40px;
  background: linear-gradient(135deg, #1488cc, #2b32b2);
  color: white;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
